# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
+ Python 
+ R
+ SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy 
3. Matplotlib
4. Scikit-learn

 | Data science Tools |
|----------------------|
|Jupiter notebooks|
|Google collab|
|Vs code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60

time = 200
minperHour = 60

results = time / minperHour
print(results)

3.3333333333333335

**Objectives:**
+ List popular languages for Data Science
+ List common libraries
+ Converted minutes to hours

## Author

Viona Lenapunya